/* Primary color #757575 */
/* Secondary color #212121 */
/* Active color #2196f3 */
/* Primary background color #E5E5E5 */
/* Secondary background color #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --active-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --color-white: #ffffff;
  --color-secondary-grey: rgba(255, 255, 255, 0.6);
  --background-button-tab: #f5f4fa;
  --background-dark: #2f303a;
}

body {
  background-color: var(--color-white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.container {
  width: 100%;
}
.nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--active-color);
}

.nav .link.current {
  color: var(--secondary-text-color);
}

.nav-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--active-color);
}

h2,
h3 {
  color: var(--secondary-text-color);
}

.hero {
  background-color: var(--background-dark);
  color: var(--color-white);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 3.24;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-link {
  color: var(--color-white);
  background-color: var(--active-color);
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.feature-item {
  font-size: 14px;
  line-height: 1.7;
}

.about-us,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
  /* text-align: center; */
}

.team-position {
  font-size: 16px;
  line-height: 1.9;
  /* text-align: center; */
}
.footer {
  background-color: var(--background-dark);
}

.address {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-white);
}

.link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-secondary-grey);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-white);
}

.accent {
  color: var(--active-color);
}

/* portfolio style */

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--secondary-background-color);
}

button:hover,
button:focus {
  background-color: var(--active-color);
  color: var(--secondary-text-color);
}

.products .product-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.products .product-item {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
