body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.container {
  width: 100%;
}
.nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav .link:hover,
.nav .link:focus {
  color: #2196f3;
}

.nav .link.current {
  color: #212121;
}

.nav-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: #2196f3;
}

h2,
h3 {
  color: #212121;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 3.24;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-link {
  color: #ffffff;
  background-color: #2196f3;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.feature-item {
  font-size: 14px;
  line-height: 1.7;
}

.about-us,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: #212121;
  /* text-align: center; */
}

.team-position {
  font-size: 16px;
  line-height: 1.9;
  /* text-align: center; */
}
.footer {
  background-color: #2f303a;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.link {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

.accent {
  color: #2196f3;
}

/* portfolio style */

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
}

button:hover,
button:focus {
  background-color: #2196f3;
  color: #212121;
}

.products .product-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.products .product-item {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
